body{ 
    padding: 0px;
    margin: 0px;
}


.sun-block{
    max-width: 322px;
    width: 322px;
    height: 322px;
    overflow: hidden;
    position: relative;
    &-part{
        max-width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img{
            width: 100%;
        }
    }
}

.light{
    animation: light-opacity 4s infinite;
}

@keyframes light-opacity {
    0% {
        opacity: 1
    }
    50% {
        opacity: 0.1
    }
    100% {
        opacity: 1
    }
}

.rays-rotate{
    animation: rotate 19s infinite;
}

.rays-short{
    animation: rays-short 3s infinite;
}

@keyframes rotate {
    0% {
        transform:  rotate(0deg)

    }
    50% {
        transform:  rotate(180deg)
    }
    100% {
        transform:  rotate(360deg)
    }

  }

@keyframes rays-short {
    0% {
        transform: scale(0.99) 
    }
    50% {
        transform: scale(0.85) 
    }
    100% {
        transform: scale(0.99) 
    }

  }


  
.rays-long{
    animation: rays-long 3s infinite;
}

@keyframes rays-long {
    0% {
        transform: scale(0.99) 
    }
    50% {
        transform: scale(0.82) 
    }
    100% {
        transform: scale(0.99) 
    }

  }

  .center {
    animation: rotate 22s infinite;
  }



// scene1 
.scene_1 {
    background: url(../images/BG.jpg);
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    position: relative;
    overflow: hidden;
}


.moon_wrap{
    width: 263px;
    height: 230px;
    position: absolute;
    left: 50%;
    top:0%;
    transform: translateX(-50%) translateY(-1750%);
    transition: all ease 2s;
    img {
        width: 100%;
    }

}
.moon_wrap.moon_down{
    transition: all ease 2s;
    transform: translateX(-50%) translateY(10%);
}

.sun-block{
    position: absolute;
    position: absolute;
    left: 50%;
    bottom:0%;
    transform: translateX(-50%) translateY(1750%);
    transition: all ease 5s;

}

.sun-block.sun_up{
    transition: all ease 4s;
    transform: translateX(-50%) translateY(10%);
}

.cload_back{
    position: absolute;
}

.cload1{
    position: absolute;
    left: 0px;
    top: 0px;
    animation: cload_move2 20s infinite;
}

.cload2{
    position: absolute;
    bottom: -299px;
    left: -300px;
    animation: cload_move 19s infinite;
}


@keyframes cload_move {
    0% {
        transform: translateX(0%)
    }
    50% {
        transform: translateX(20%)
    }
    100% {
        transform: translateX(0%)
    }
}

@keyframes cload_move2 {
    0% {
        transform: translateX(0%)
    }
    50% {
        transform: translateX(-20%)
    }
    100% {
        transform: translateX(0%)
    }
}

.cload3{
    position: absolute;
    bottom: -0px;
    right: -300px;
    animation: cload_move2 19s infinite;
    z-index: 9;
}
.cload4{
    position: absolute;
    bottom: -299px;
    right: -300px;
    animation: cload_move2 19s infinite;
    z-index: 9;
}